#bold {
    color: blanchedalmond;
}

#italic {
    color: aqua;
}

#underline {
    color: brown;
}

.bold-class {
    color: blue;
}

.italic-class {
    color: crimson;
}

.underline-class {
    color: hotpink;
}